body {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #c7dbd4;
}
.form-container {
  width: 100%;
  max-width: 480px;
  height: auto;
  min-height: 200px;
  box-sizing: border-box;
  padding: 20px;

  border-radius: 20px;
  background-color: #f0e7e6;

  -webkit-box-shadow: 0px 13px 54px 2px rgba(116, 169, 164, 1);
  -moz-box-shadow: 0px 13px 54px 2px rgba(116, 169, 164, 1);
  box-shadow: 0px 13px 54px 2px rgba(116, 169, 164, 1);

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.bankingcard {
  width: 344px;
  height: 216px;
  margin-top: -150px;
  position: relative;
}

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/* .flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
} */

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;

  border-radius: 15px;
  box-sizing: border-box;
  padding: 10px;
  -webkit-box-shadow: 0px 3px 34px 0px rgba(90, 82, 102, 0.5);
  -moz-box-shadow: 0px 3px 34px 0px rgba(90, 82, 102, 0.5);
  box-shadow: 0px 3px 34px 0px rgba(90, 82, 102, 0.5);
}

/* Style the front side */
.flip-box-front {
  background-color: #5a5266;
  color: #ffffff;
}

/* Style the back side */
.flip-box-back {
  background-color: #f483a4;
  color: #ffffff;
  transform: rotateY(180deg);
}

/*----------- Card elements  -----------------*/
#cardNumberText {
  position: absolute;
  width: 90%;
  padding: 10px;
  box-sizing: border-box;
  /* border: 1px solid #5cbec2; */
  top: 100px;
  left: 20px;
  text-align: left;
}
#cardHolderName {
  position: absolute;
  width: 45%;
  padding: 10px;
  box-sizing: border-box;
  /* border: 1px solid #5cbec2; */
  top: 150px;
  left: 20px;

  text-align: left;
  /* font-size: 14px; */
}
#cardMonth {
  position: absolute;
  width: 15%;
  padding: 10px;
  box-sizing: border-box;
  /* border: 1px solid #5cbec2; */
  top: 150px;
  left: 55%;
}
#cardDataSeparator {
  position: absolute;
  width: auto;
  padding: 10px;
  box-sizing: border-box;
  /* border: 1px solid #5cbec2; */
  top: 150px;
  left: 70%;
}
#cardYear {
  position: absolute;
  width: 18%;
  padding: 10px;
  box-sizing: border-box;
  /* border: 1px solid #5cbec2; */
  top: 150px;
  left: 77%;
}

#cardCVV {
  position: absolute;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  color: #5a5266;
  background-color: #fff;
  top: 50px;
  left: 0;
  text-align: right;
}
/*----------- Card elements end -----------------*/

/*------- Fast align -------*/

.row {
  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.col {
  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
}

/*------- Fast align end-------*/

/*-------- Form style ------*/

.BankForm {
  margin: 20px;

  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
  justify-content: center;
}
.BankForm label {
  margin-top: 20px;
  color: #5a5266;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.BankForm input,
select {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #c7dbd4;
  border-radius: 3px;
  color: #5a5266;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.BankForm input:focus,
select:focus {
  outline: #5cbec2 solid 2px;
}

.BankForm select {
  margin-right: 10px;
}

.BankForm input[type="button"] {
  background-color: #f483a4;

  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  margin-top: 30px;
  padding: 15px;
}
.BankForm input[type="button"]:hover {
  background-color: #d12660;
}
.BankForm input[type="button"]:focus {
  outline: none;
}
